body {
    background-color: #141d26;
    color: #fff;
}
.header {
    display: flex;
    justify-content: center;
}
#title {
    text-align: center;
}
#photo {
    width: 250px;
}
a {
    color: #34ffe1;
}